@model AccountingProject.Web.ViewModels.Transactions.TransactionsListViewModel
@{ this.ViewData["Title"] = "All Transactions:"; }

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @this.TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h3 class="mx-auto w-50">@this.ViewData["Title"]</h3>
<div class="col-md-12">
    <div class="page-header text-justify">
        <table class="table table-hover table-striped table-sm table-responsive">
            <thead>
                <tr>
                    <th scope="col">Document Date</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Document Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Folder</th>
                    <th scope="col">Consecutive Number</th>
                    <th class="text-center" scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in this.Model.Transactions)
                {
                <tr class="table-light">
                    <th scope="row">@transaction.DocumentDateAsString</th>
                    <td>@transaction.CreatedOnAsString</td>
                    <td>@transaction.DocumentTypeName</td>
                    <td class="text-right">@transaction.Amount</td>
                    <td>@transaction.Description</td>
                    <td class="text-center">@transaction.Folder</td>
                    <td class="text-center">@transaction.ConsecutiveNumber</td>
                    <td>
                        <a class="btn btn-block btn-primary text-white" asp-controller="Transactions" asp-action="ById" asp-route-id="@transaction.Id">Details</a>
                    </td>
                </tr>}
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Total Amount</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" class="text-right">@Model.TotalAmount</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


