@using AccountingProject.Common
@model AccountingProject.Web.ViewModels.Transactions.CreateTransactionInputModel
@{
    this.ViewData["Title"] = "Create a transaction";
    var documents = this.Model.Documents.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var counterparties = this.Model.Counterparties.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<h1 class="mx-auto w-50">@this.ViewData["Title"]</h1>

<form class="mx-auto w-50" method="post">
    <fieldset>
        <div asp-validation-summary="All" class="text-danger"></div>
        <fieldset class="form-group">
            <legend>Choose the type of transction.</legend>
            <div class="form-check">
                <label asp-for="IsPurchase" class="form-check-label">
                    <input asp-for="IsPurchase" class="form-check-input" type="checkbox" value="true">
                    It's a purchase.
                </label>
                <span asp-validation-for="IsPurchase" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IsSale" class="form-check-label">
                    <input asp-for="IsSale" class="form-check-input" type="checkbox" value="true">
                    It's a sale.
                </label>
                <span asp-validation-for="IsSale" class="text-danger"></span>
            </div>
        </fieldset>
        <div class="form-group">
            <label asp-for="DocumentDate" class="control-label"></label>
            <input asp-for="DocumentDate" type="date" class="form-control" />
            <small class="form-text text-muted">Enter a date between 01.01.@GlobalConstants.MinimumAllowedYearForDocumentDate and today.</small>
            <span asp-validation-for="DocumentDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DocumentTypeId" class="control-label"></label>
            @*<vc:CategoriesDropDown name="DocumentTypeId "></vc:CategoriesDropDown>*@
            <select asp-for="DocumentTypeId" class="form-control" asp-items="documents">
                <option value=""></option>
            </select>
            <span asp-validation-for="DocumentTypeId " class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CounterpartyId" class="control-label"></label>
            @*<vc:CategoriesDropDown name="CounterpartyId "></vc:CategoriesDropDown>*@
            <select asp-for="CounterpartyId" class="form-control" asp-items="counterparties">
                <option value=""></option>
            </select>
            <span asp-validation-for="CounterpartyId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea rows="2" asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DebitMainAccountId" class="control-label"></label>
            @*<vc:MainAccountsDropDown name="DebitMainAccountId"></vc:MainAccountsDropDown>*@
            <select class="form-control" asp-for="DebitMainAccountId">
                <option value=""></option>
                @foreach (var account in Model.MainAccounts)
                {
                    <option value="@account.Id">@account.Code @account.Name</option>
                }
            </select>
            <span asp-validation-for="DebitMainAccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DebitAnalyticalAccountId" class="control-label"></label>
            @*<vc:CategoriesDropDown name="DebitAnalyticalAccountId"></vc:CategoriesDropDown>*@
            <select class="form-control" asp-for="DebitAnalyticalAccountId">
            </select>
            <span asp-validation-for="DebitAnalyticalAccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreditMainAccountId" class="control-label"></label>

            @*<vc:MainAccountsDropDown name="CreditMainAccountId"></vc:MainAccountsDropDown>*@
            <select class="form-control" asp-for="CreditMainAccountId">
                <option value=""></option>
                @foreach (var account in Model.MainAccounts)
                {
                    <option value="@account.Id">@account.Code @account.Name</option>
                }
            </select>
            <span asp-validation-for="CreditMainAccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreditAnalyticalAccountId" class="control-label"></label>
            @*<vc:CategoriesDropDown name="CreditAnalyticalAccountId"></vc:CategoriesDropDown>*@
            <select class="form-control" asp-for="CreditAnalyticalAccountId">
            </select>
            <span asp-validation-for="CreditAnalyticalAccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Folder" class="control-label"></label>
            <input asp-for="Folder" class="form-control" />
            <span asp-validation-for="Folder" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConsecutiveNumber" class="control-label"></label>
            <input asp-for="ConsecutiveNumber" class="form-control" />
            <span asp-validation-for="ConsecutiveNumber" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-block btn-primary text-white mb-3">Create</button>
        </div>
    </fieldset>
</form>

@section Scripts {
    <script src="~/js/loadAnalyticalAccounts.js"></script>
}

