@model AccountingProject.Web.ViewModels.Counterparties.CounterpartiesListViewModel
@{ this.ViewData["Title"] = "All Counterparties:"; }

@if (this.TempData.ContainsKey("Message"))
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
    @this.TempData["Message"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>}

<h2 class="mx-auto w-50">@this.ViewData["Title"]</h2>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">VAT</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var counterparty in this.Model.Counterparties)
        {
<tr class="table-light">
    <th scope="row">@counterparty.Name</th>
    <td>@counterparty.VAT</td>
    <td>@counterparty.Address</td>
    <td>@counterparty.CityName</td>
    <td>
        <a class="btn btn-block btn-warning text-white mb-3" asp-controller="Counterparties" asp-action="Edit" asp-route-id="@counterparty.Id">Edit</a>        
    </td>
</tr>}
    </tbody>
</table>

