@using AccountingProject.Common;
@model AccountingProject.Web.ViewModels.DocumentTypes.DocumentTypesListViewModel
@{ this.ViewData["Title"] = "All Document Types:"; }

@if (this.TempData.ContainsKey("Message"))
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
    @this.TempData["Message"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>}

<h2 class="mx-auto w-50 text-center">@this.ViewData["Title"]</h2>
<div class="col-md-12">
    <div class="page-header text-center">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var documentType in this.Model.DocumentTypes)
                {
                <tr class="table-light">
                    <td class="text-center">@documentType.Name</td>
                    <td>
                        @if (this.User.IsInRole(GlobalConstants.ChiefAccountantRoleName))
                        {
                            <a class="btn btn-block btn-outline-warning" asp-controller="DocumentTypes" asp-action="Edit" asp-route-id="@documentType.Id">Edit</a>
                        }
                        else
                        {
                            <a class="btn btn-block btn-outline-warning disabled" asp-controller="DocumentTypes" asp-action="Edit" asp-route-id="@documentType.Id">Edit</a>
                        }
                    </td>
                    <td>
                        <form method="post" id="deleteForm_@documentType.Id" asp-controller="DocumentTypes" asp-action="Delete" asp-route-id="@documentType.Id">
                        </form>
                        @if (this.User.IsInRole(GlobalConstants.ChiefAccountantRoleName))
                        {
                            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal_@documentType.Id">Delete</button>
                        }
                        else
                        {
                             <button class="btn btn-outline-danger" disabled data-toggle="modal" data-target="#deleteModal_@documentType.Id">Delete</button>
                        }

                        <div class="modal" id="deleteModal_@documentType.Id">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete document type</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete document type "@documentType.Name"?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" onclick="(deleteForm_@documentType.Id).submit()">Yes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>




