@model AccountingProject.Web.ViewModels.GLAccounts.AddAccountBalanceInputModel
@{
    this.ViewData["Title"] = "Set initial balance";
}

<h1 class="mx-auto w-50">@this.ViewData["Title"]</h1>

<form class="mx-auto w-50" method="post">
    <fieldset>
        <div asp-validation-summary="All" class="text-danger"></div> 
        <div class="form-group">
            <label asp-for="DebitMainAccountId" class="control-label"></label>
            @*<vc:MainAccountsDropDown name="DebitMainAccountId"></vc:MainAccountsDropDown>*@
            <select class="form-control" asp-for="DebitMainAccountId">
                <option value=""></option>
                @foreach (var account in Model.MainAccounts)
                {
                    <option value="@account.Id">@account.Code @account.Name</option>
                }
            </select>
            <span asp-validation-for="DebitMainAccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AnalyticalAccountId" class="control-label"></label>
            @*<vc:CategoriesDropDown name="DebitAnalyticalAccountId"></vc:CategoriesDropDown>*@
        <select class="form-control" asp-for="AnalyticalAccountId">
            <option value="@Model.AnalyticalAccountId">@Model.AnalyticalAccountName</option>
        </select>
            <span asp-validation-for="AnalyticalAccountId" class="text-danger"></span>
        </div>        
        <div class="form-group">
            <label asp-for="DebitBalance" class="control-label"></label>
            <input asp-for="DebitBalance" class="form-control" />
            <span asp-validation-for="DebitBalance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreditBalance" class="control-label"></label>
            <input asp-for="CreditBalance" class="form-control" />
            <span asp-validation-for="CreditBalance" class="text-danger"></span>
        </div>
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-block btn-primary text-white mb-3">Set</button>
        </div>
    </fieldset>
</form>

@section Scripts {
    <script src="~/js/loadAnalyticalAccounts.js"></script>
}

