@using AccountingProject.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="#navbarColor01"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarColor01">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Create</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Transactions" asp-action="Create">Transaction</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Counterparties" asp-action="Create">Counterparty</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Inventories" asp-action="Create">Inventory</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="FixedAssets" asp-action="Create">Fixed Asset</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="MainAccounts" asp-action="Create">Main Account</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AnalyticalAccounts" asp-action="Create">Analytical Account</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="DocumentTypes" asp-action="Create">Document Type</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Initial Set</a>
                                <div class="dropdown-menu">                                    
                                    <a class="dropdown-item" asp-area="" asp-controller="MainAccounts" asp-action="SetBalance">Set Initial Balance</a>                                    
                                </div>
                            </li>                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View all</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Transactions" asp-action="AllByDocumentDate">Transactions ordered by document date</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Counterparties" asp-action="All">Counterparties</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Inventories" asp-action="All">Inventories</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Inventories" asp-action="ChooseAccount">Inventories by account</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="FixedAssets" asp-action="All">Fixed Assets</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="MainAccounts" asp-action="All">Main Accounts</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="AnalyticalAccounts" asp-action="All">Analytical Accounts</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="DocumentTypes" asp-action="All">Document Types</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Transactions" asp-action="ChoosePeriod">Transactions for a period</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="MainAccounts" asp-action="ChoosePeriod">Trial Balance</a>
                                </div>
                            </li>
                        }
                    </ul>                    
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
